adminer:
  enabled: true
  resources: >
    {"requests": {"cpu": "20m", "memory": "30Mi"}, "limits": {"cpu": "50m", "memory": "100Mi"}}

sparkdb:
  enabled: true

global:
  debug: false
  opsImage: orihoch/midburn-k8s

nginx:
  enabled: true

ops:
  enabled: false

spark:
  enabled: true
  image: orihoch/spark:modernize-dockerize
  enableDeployment: true
  sparkDbResources: >
    {"requests": {"cpu": "100m", "memory": "600Mi"}, "limits": {"cpu": "200m", "memory": "1500Mi"}}
  enableDbInit: true

traefik:
  enabled: true

volunteers:
  enabled: true

bi:
  enabled: false
  metabaseResources: >
    {"requests": {"cpu": "500m", "memory": "1500Mi"}, "limits": {"cpu": "1", "memory": "2500Mi"}}
  metabasePostgresqlResources: >
    {"requests": {"cpu": "20m", "memory": "200Mi"}, "limits": {"cpu": "50m", "memory": "500Mi"}}
  JAVA_TIMEZONE: Asia/Jerusalem

dreams:
  enableDeployment: true

chatops:
  resources: >
    {"requests": {"cpu": "100m", "memory": "150Mi"}, "limits": {"cpu": "150m", "memory": "200Mi"}}
