adminer:
  enabled: true

sparkdb:
  enabled: true

global:
  debug: false
  opsImage: orihoch/midburn-k8s

nginx:
  enabled: true

ops:
  enabled: false

spark:
  enabled: true
  image: orihoch/spark:modernize-dockerize

traefik:
  enabled: true

volunteers:
  enabled: true
